@import "tailwindcss";
@font-face {
  font-family: "jejuG";
  src: url("/font/JejuGothic.ttf");
}

@font-face {
  font-family: "jejuM";
  src: url("/font/JejuMyeongjo.ttf");
}

ul li {
  position: relative;
  padding-left: 1rem;
}
ul li::before {
  width: 4px;
  height: 4px;
  background: #444;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
}

@keyframes BigSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes odubanjung {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes odubanjung2 {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes round {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.bgMotion {
  animation: BigSmall 0.8s infinite linear;
}

.bgMotion2 {
  animation: odubanjung 0.1s infinite;
}

.bgMotion3 {
  animation: odubanjung2 0.1s infinite;
}

.active {
  position: relative;
  transition: 0.3s all;
}
.active::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #ddd;
  border-radius: 50%;
  animation: round 1s infinite;
}

.linkBtnWrap::after {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 100vw;
  height: 1px;
  background: #ccc;
}
