@import "tailwindcss";
@font-face {
  font-family: "jejuG";
  src: url("/font/JejuGothic.ttf");
}

@font-face {
  font-family: "jejuM";
  src: url("/font/JejuMyeongjo.ttf");
}

ul li {
  position: relative;
  padding-left: 1rem;
}
ul li::before {
  width: 4px;
  height: 4px;
  background: #444;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
}

@keyframes BigSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  0% {
    transform: scale(1);
  }
}

@keyframes odubanjung {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(1deg);
  }
  0% {
    transform: rotate(0);
  }
}

@keyframes odubanjung2 {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-1.5deg);
  }
  0% {
    transform: rotate(0);
  }
}

.bgMotion {
  animation: BigSmall 0.8s infinite linear;
}

.bgMotion2 {
  animation: odubanjung 0.1s infinite;
}

.bgMotion3 {
  animation: odubanjung2 0.1s infinite;
}
